body {
    background-color: #edefee;
  
    font-family: "Markazi Text", serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  nav li a {
    font-size: 2rem;
    padding-left: 2rem;
    color: white;
    line-height: 1.7;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }
  main {
    color: white;
  }
  nav {
    background: #333333;
    height: 4rem;
    border-radius: 25px;
    margin: 20px;
  }
  .container {
    display: grid;
    /* min-width: 100vh; */
    /* min-height: 10vh; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "discount discount discount"
      "c1 c2 c3";
  }
  nav > li > a {
    color: white;
    font-size: 100px;
  }
  
  .c-item {
    border-radius: 25px;
    background: #3b2e88;
    margin: 20px;
    text-align: center;
    padding: 15;
    justify-content: center;
    align-items: center;
  }
  .discount {
    grid-area: discount;
    margin: 20px;
    /* text-align: center; */
    padding: 20px;
    background-image: url("../resource/discount.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
  }
  .c1 {
    grid-area: c1;
  }
  .c2 {
    grid-area: c2;
  }
  .c3 {
    grid-area: c3;
  }
  
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  header > img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav li {
    display: inline-block;
  }
  section {
    display: flex;
  }
  article {
    flex: 1;
  }
  footer {
    display: flex;
  }
  footer div {
    flex: 1;
  }
  footer > div > img {
    width: 100px;
  }
  